# MLflow Configuration
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=churn_prediction_prod

# Model Thresholds
MIN_ACCURACY_THRESHOLD=0.75
DRIFT_THRESHOLD=0.1

# AWS S3 (Optional for artifact storage in prod)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=mlflow-artifacts-prod